@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,900;1,400;1,700&display=swap');
html,body{
    font-family: 'Red Hat Display', sans-serif;
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
.top-heading{
    text-align: center;
    font-weight: 600;
    line-height: 1.2em;
    color: #4b4b4b;
    margin: 24px auto;
}
.inner-wrap{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.under-wrap
{
    display: flex;
    border: 1px solid #d4d4d4;
    padding: 14px;
}
.converted-file-div {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
}